<h2><%= @party.name %></h2>
<% if @party.characters.count > 0 %>
  <h3>Characters in the party:</h3>
  <% @party.characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>
  <% end %>
<% else %>
  <p>This party is empty!</p>
<% end %>
