<h3><%= @secret.content %></h3>

<% if @previous_secret != nil %>
<%= link_to "Previous Secret", character_secrets_path + "/#{@previous_secret.id}" %> &nbsp
<% end %>
<% if @next_secret != nil %>
<%= link_to "Next Secret", character_secrets_path + "/#{@next_secret.id}" %>
<% end %>

<br><br><%= link_to "Go back to view character", character_path(@character) %>
